version: "3.9"

services:
  mysql:
    container_name: mysql
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: users
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 10s
      retries: 10
      interval: 3s

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8080:80"
    depends_on:
      - mysql

  backend:
    container_name: backend
    build:
      context: ./server
      dockerfile: Dockerfile
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASS: root
      DB_NAME: users
      JWT_SECRET: 9f370cb8fe57ce8917d1c12316c588fe25554374dc3010bd64bbffa71478da0faebc33de948d70bb86ec22b170924a0268541c821537ae61f38495450f042f7a
      PORT: 4000
    ports:
      - "4000:4000"
    volumes:
      - ./server:/app
      - /app/node_modules
    working_dir: /app
  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - backend
    ports:
      - "5173:5173"
    environment:  
      VITE_API_URL: http://localhost:4000
    volumes:
      - .:/app
      - /app/node_modules
    working_dir: /app
    command: ["npm", "run", "dev", "--", "--host"]

volumes:
  mysql_data:
